* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media screen and (min-width: 1070px) {
  .col-lg-1 {
    width: 108px;
    float: left;
  }
  .col-lg-2 {
    width: 216px;
    float: left;
  }
  .col-lg-3 {
    width: 324px;
    float: left;
  }
  .col-lg-4 {
    width: 432px;
    float: left;
  }
  .col-lg-5 {
    width: 540px;
    float: left;
  }
  .col-lg-6 {
    width: 640px;
    float: left;
  }
  .col-lg-7 {
    width: 756px;
    float: left;
  }
  .col-lg-8 {
    width: 864px;
    float: left;
  }
  .col-lg-9 {
    width: 972px;
    float: left;
  }
  .col-lg-10 {
    width: 1080px;
    float: left;
  }
  .container {
    width: 1080px;
    margin: 0 auto;
    height: auto;
    min-height: 500px;
    background-color: white;
  }
  .clear {
    clear: both;
  }
  .logo {
    background-color: white;
  }
  .nav {
    background-color: white;
  }
  .banner {
    height: 300px;
  }
  .banner img {
    width: 100%;
    height: 100%;
  }
  .border {
    outline: 1px solid black;
  }
  .logo {
    height: 100%;
    width: 100%;
  }

  .nav ul li {
    display: inline-block;
    padding: 20px;
    line-height: 30px;
  }
  .nav ul {
    float: right;
  }
  a {
    text-decoration: none;
    color: rgb(255, 0, 43);
  }
  .row3 {
    height: 300px;
  }
  .content {
    justify-content: center;
    height: 100%;
    padding: 30px;
  }
  input {
    padding: 5px;
    border-radius: 5px;
  }
  .testimonial img {
    height: 50px;
    width: 50px;
    margin: 0 auto;
  }
  .testimonial {
    height: 100%;

    margin: 0 auto;
    padding: 30px;
  }
  .ad {
    height: 100%;
    background-color: plum;
    box-sizing: border-box;
    padding: 0;
  }
  .ad img {
    width: 100%;
    height: 90%;
    display: block;
  }
  .ad div {
    height: 10%;
  }
  .content-main {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .content-main img {
    height: 100%;
    width: 100%;
  }
  .footer {
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: 450px;
    height: auto;
    min-height: 450px;
    margin: 0 auto;
  }
  .col-mb-1 {
    width: 45px;
    float: left;
  }
  .col-mb-2 {
    width: 90px;
    float: left;
  }
  .col-mb-3 {
    width: 135px;
    float: left;
  }
  .col-mb-4 {
    width: 180px;
    float: left;
  }
  .col-mb-5 {
    width: 225px;
    float: left;
  }
  .col-mb-6 {
    width: 270px;
    float: left;
  }
  .col-mb-7 {
    width: 315px;
    float: left;
  }
  .col-mb-8 {
    width: 360px;
    float: left;
  }
  .col-mb-9 {
    width: 405px;
    float: left;
  }
  .col-mb-10 {
    width: 450px;
    float: left;
  }

  .clear {
    clear: both;
  }
  .logo {
    background-color: white;
    height: 150px;
    width: 150px;
  }
  .nav {
    background-color: white;
  }
  input {
    display: none;
  }
  .banner {
    height: 300px;
  }
  .banner img {
    width: 100%;
    height: 100%;
  }
  .border {
    outline: 1px solid black;
  }
  .logo {
    height: 100%;
    width: 100%;
  }

  .nav ul li {
    display: inline-block;
    padding: 20px;
    line-height: 30px;
  }
  .nav ul {
    float: right;
  }
  a {
    text-decoration: none;
    color: rgb(255, 0, 43);
  }
  .row3 {
    height: 500px;
  }
  .content {
    justify-content: center;
    height: 100%;
    padding: 30px;
  }
  input {
    padding: 5px;
    border-radius: 5px;
  }
  .testimonial img {
    height: 50px;
    width: 50px;
    margin: 0 auto;
  }
  .testimonial {
    height: 100%;

    margin: 0 auto;
    padding: 30px;
  }
  .ad {
    height: 100%;
    background-color: plum;
    box-sizing: border-box;
    padding: 0;
  }
  .ad img {
    width: 100%;
    height: 90%;
    display: block;
  }
  .ad div {
    height: 10%;
  }
  .content-main {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .content-main img {
    height: 100px;
    width: 100px;
  }
  .footer {
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
